In [ ]:
from sql_setup import sqlConnection

In [ ]:
conn = sqlConnection()
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE `articles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `newspaper_issue_id` text DEFAULT NULL,
  `page_number` text DEFAULT NULL,
  `title` text DEFAULT NULL,
  `content` text DEFAULT NULL,
  `author` text DEFAULT NULL,
  `date` text DEFAULT NULL,
  `directory` text DEFAULT NULL,
  `ocr_text` text DEFAULT NULL,
  `llm_text` text DEFAULT NULL,
  `ocr_method` text DEFAULT NULL,
  `llm_method` text DEFAULT NULL,
  `manual_correction_text` text DEFAULT NULL,
  `font` text DEFAULT NULL,
  `coordinates` text DEFAULT NULL,
  `segmentation_method` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_UNIQUE` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14027 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
""")

In [ ]:
cursor.execute("""CREATE TABLE `newspapers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` text DEFAULT NULL,
  `first_issue_date` text DEFAULT NULL,
  `content` text DEFAULT NULL,
  `fonts` text DEFAULT NULL,
  `language` text DEFAULT NULL,
  `directory` text DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
""")

In [ ]:
cursor.execute("""
CREATE TABLE `newspaper_issues` (
  `newspaper_id` text DEFAULT NULL,
  `date` text DEFAULT NULL,
  `number` text DEFAULT NULL,
  `pages` text DEFAULT NULL,
  `content` text DEFAULT NULL,
  `directory` text DEFAULT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1289 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
""")

In [ ]:
cursor.execute("""
CREATE TABLE `Layout_Parser` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `coordinates` text NOT NULL,
  `newspaper_issue_id` int(11) NOT NULL,
  `page` int(11) DEFAULT NULL,
  `processed` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32932 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
""")